:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --text-buttom-color: #ffffff;
  --acent-color: #2196f3;
  --bgr-color-acent: #2f303a;
  --bgr-color:#E5E5E5;
  --bgr-second-color :#F5F4FA;
 
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bgr-color);
  }

.logo {
  color: var(--acent-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
 
}
.logo:hover, .logo:focus{
  text-decoration:underline
}
.header{
  background-color: var(--text-buttom-color);
}
.header-link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none
}
.header-link:hover,
.header-link:focus {
  color: var(--acent-color);
}
.portfolio-button:hover, portfolio-button:focus {
color:var(--text-buttom-color);
background-color: var(--acent-color);
}
.hero{
  width: 1600px;
  height: 600px;
  background-color:var(--bgr-color-acent);}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-buttom-color);
  text-align: center;
 }
  
.hero-button {
  font-family: "Roboto",sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--text-buttom-color);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  background: var(--acent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.peculiarities-list h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-style: normal;
  color:var(--main-text-color);
}
.peculiarities-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.about-tittle,
.team-tittle {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
.team{
  background-color: var(--bgr-second-color);
}
.team-list  h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.team-item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.footer {
  background-color: var(--bgr-color-acent);
}
.footer-list {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
a[href=" https://goo.gl/maps/LfRihioMRKPNniMt5"]
{
  color: var(--text-buttom-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.gallery p {
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 30px;
 letter-spacing: 0.03em;
 color: var(--second-text-color)
}
.gallery h2 {
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: var(--main-text-color);
}